themeMain = #0066cc
themeDark = darken(themeMain, 20%)

drawerWidth = 75vw

html
	background-color: #272626
	font-size: 14px
	font-family: Lato
	color: white
  margin: 0px
	padding: 0px

#topBar
	position: fixed
	height: 3rem
	top: 0px
	left: 0px
	right: 0px
	background: themeDark

#burger
	padding: 0.5rem
	font-size: 1.5rem
	float: left

#drawer
	height: 100vh
	width: 100vw
	position: fixed
	top: 0px
	left: -100vw
	transition-duration: 0.3s
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)

#drawerContent
	background: themeMain
	float: left
	width: drawerWidth
	height: 100%

#drawerDimm
	background: rgba(0, 0, 0, 0.35)
	position: fixed
	top: 0px
	left: 0px
	bottom: 0px
	right: 0px
	opacity: 0
	transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1)
	width: 0px
	z-index: -1

#drawer.active
	left: 0px

#drawer.active #drawerDimm
	width: 100vw
	opacity: 1

/* ### LINKS ### */
a
	color: white
	text-decoration: underline

a:hover,a:visited,a:active
	text-decoration: none

a:hover
	color: #666
a:visited
	color: #464646
a:active
	color: #333
