html
	background-color: #272626
	font-size: 14px
	font-family: Lato
	color: white
  margin: 0px
	padding: 0px


#topBar{
	position: fixed;
	height: 3rem;
	top: 0px;
	left: 0px;
	right: 0px;
	background: green;
}

#burger{
	padding: 0.5rem;
  font-size: 1.5rem;
  float: left;
}

/* ### LINKS ### */
a{
	color: white;
	text-decoration: underline;
}

a:hover,a:visited,a:active{
	text-decoration: none;
}

a:hover{ color: #666; }
a:visited{ color: #464646; }
a:active{ color: #333; }
