<%- include("head.ejs") %>
<body>
	<noscript>Javascript disabled</noscript>

	<div id="topBar">

		<div id="burger">
			<div></div>
			<div></div>
			<div></div>
		</div>

		<div id="drawer">
			<div id="drawerContent">
				<div id="drawerHeader">
					<div id="headerInfo">
						<div class="placeholder" style="width:64;height:64px" id="headerIcon"></div>
						<div id="headerTitle">Rolnik Nysa</div>
						<div id="headerSubTitle">Zespół Szkół i Placówek Oświatowych w Nysie</div>
					</div>

				</div>

				<ul class="drawerList" id="drawerListCatApps">
					<li id="windowMap" class="active">
						<div class="drawerListItemIcon">
							<i class="icon-map"></i>
						</div>
						<div class="drawerListItemLabel">
							Mapa
						</div>
					</li>
					<li id="windowPlan">
						<div class="drawerListItemIcon">
							<i class="icon-calendar"></i>
						</div>
						<div class="drawerListItemLabel">
							Plan Lekcji
						</div>
					</li>
					<li id="windowUser">
						<div class="drawerListItemIcon">
							<i class="icon-info-circled"></i>
						</div>
						<div class="drawerListItemLabel">
							Konto
						</div>
					</li>
					<li id="windowSettings">
						<div class="drawerListItemIcon">
							<i class="icon-cog-alt"></i>
						</div>
						<div class="drawerListItemLabel">
							Ustawienia
						</div>
					</li>
				</ul>

			</div>
			<div id="drawerDimm"></div>
		</div>

	</div>

	<div id="content">

	</div>

	<div id="loading">
		<div class="placeholder logo" style="width: 64px;height:64px"></div>
		<div id="loadingHeader">Ładowanie</div>
		<br>
		<i class="icon-spin1 animate-spin"></i>
	</div>

</body>
