<%- include("head.ejs") %>
<body>
	<noscript>Javascript disabled</noscript>

	<div id="topBar">

		<div id="burger">
			<i class="icon-menu"></i>
		</div>

		<div id="drawer">

			<div id="drawerContent">

			</div>
			<div id="drawerDimm"></div>

		</div>

	</div>

</body>
